hero portraits sc/RECOVER_hero_portraits.fla
RECOVER_*
out/
nbModAssets/BackToClassicsv68.zip
*.blend1
/nbModAssets/ddb87231-8a9a-4e4e-9bdf-60bcd04d32cf/swfPatch
/nbModAssets/ddb87231-8a9a-4e4e-9bdf-60bcd04d32cf/sc
/nbModAssets/ddb87231-8a9a-4e4e-9bdf-60bcd04d32cf/emojiPatches/staticEmoji/sc
/nbModAssets/ddb87231-8a9a-4e4e-9bdf-60bcd04d32cf/emojiPatches/coolerEmoji/sc
